<!-- Begin Top Section -->
<section id="top-section" class="top-section image-section {% if page.header_image %}enable-overlay{% endif %}" style="{% if page.header_image %}background-image: url('{{ site.baseurl }}/img/{{ page.header_image }}');{% elsif page.color %}background: #000000 {% endif %}">
    <div class="overlay gradient-overlay"></div>

    {% include navigation.html %}
	<div class="logo-header">
	   <img id="mainLogo" src="/img/SCS_Logo.png" alt="Swiss Cyber Storm Logo">	
	</div>
        <div class="content-wrapper">
            <div class="jumbotron text-left">
                <div class="animated fadeInDown" style="-vendor-animation-delay:500">
                {% assign heroText = site.heroTitle | split:"<typeout>" %}
                  <h1 style="font-weight:300;">{{ heroText[0] }}<span id="typeout-text" class="hidden-xs"></span><span class="typeout-fallback">{{ site.typeoutFallback }}</span>{{ heroText[1] }}</h1>
                </div>
            </div>
        </div>
</section>
<!-- End Top Section -->

