<header id="top-header" class="top-header">
    <a id="menu-trigger" style="margin-top: 10px;background-color:#333;" class="btn btn-primary pull-right visible-xs">
	<i class="fa fa-navicon"></i>
    </a> 
    <nav class="scs-menu scs-effect"  id="menu">
	<div class="logo-navbar logo logo-dark visible-xs"></div>
        <ul class="navigation">
            <li>
              <a href="/"><i class="fa fa-home"></i></a>
            </li>
            {% assign last_base_url = "" %}
            {% assign sub_in = false   %}
            {% for page in site.html_pages %}
              {% assign url_parts = page.url | split: '/' %}
              {% assign url_parts_size = url_parts | size %}
              {% if url_parts_size == 3 %}
                 {% assign base_url = url_parts[1]  %}  
              {% else %}
                 {% assign base_url = url_parts[0] %}
              {% endif %}
              {% assign rm = url_parts | last %}
              {% if page.title and page.hide != true %}
                {% if sub_in and (base_url != last_base_url) %}
                     </ul>
                   </li>
                   {% assign sub_in = false   %}
                {% endif %}
                {% if url_parts_size == 2 and rm != 'index.html' %}
                  <li><a href='{{page.url}}'>{{page.title}}</a></li>
                {% endif %}
                {% if url_parts_size == 3 and base_url != last_base_url %}
                  {% assign sub_in = true   %}
                   <li><div class="nolink">{{page.parent}}</div>
                     <ul>
                {% endif %}
                {% if url_parts_size == 3  %}
                   <li><a href='{{page.url}}'>{{page.title}}</a></li>
                {% endif %}
              {% endif %}
              {% assign last_base_url = base_url %}
            {% endfor %}
	    <!-- Social icons from Font Awesome, if enabled -->
            {% include icons.html %}
        </ul>
    </nav>
</header>
