<!-- Begin Page with 2 columns -->

<section>
    <div class="container">
        <div class="row">
        	<div class="col-xs-12 col-sm-9 wow fadeInDown">
				<article class="content-wrapper text-left">

					<h2>Networking Lounge</h2>
					<p>A key element of the Swiss Cyber Storm is the information
						exchange among IT Security Enthusiasts. To give more room for
						after-talk-discussions, networking and even experimenting, we will
						introduce the <b>Networking Lounge</b> as a core part of the event for
						the first time.</p>	
					<p>The <b>Networking Lounge</b> is a central meeting place with free
						WIFI, computer accessories, equipped with black boards,
						movable walls, but also with couches, catering and a bar for
						refreshment. It aims to offer the perfect place to meet, discuss,
						experiment and socialize.</p>
					<p>Instead of running the Swiss Cyber Storm Challenges on this
						day, the participants of the SCS Challenges 2017 will use the
						<b>Networking Lounge</b> as their training and playing ground, solving
						challenges and presenting small tasks. If you want to see them solving 
						such challenges or want to get more information about the SCS challenges please let us know or just contact them yourself.</p>
					<p>Our partners and sponsors are integrated in <b>Networking
						Lounge</b>. The <b>Networking Lounge</b> is the perfect place to approach
						these IT professionals with affiliation to industry, government
						and university.</p>
					<p>The <b>Networking Lounge</b> is the place to stay in between the talks. It offers food and drinks. This is the place were we hope to meet on the party after the conference.
					</p>
					<img src="/img/2017/SCS_2017_NetworkingLounge.png">
				</article>
				<article class="content-wrapper text-left">
        	
        	<h2>Conference Speakers</h2>
        	{% include speakers-announce.html %}
        	</article>

            {% for article in site.data.confPage %}
                <article class="content-wrapper text-left">
	 	<h2>{{ article.title }}</h2>
		{% for para in article.paragraph %}
		{% if para.raw != null %}
		  {{ para.raw }}
                {% endif %}
		{% if para.text != null %}
		  <p>{{ para.text }}</p>
                {% endif %}
		{% if para.include != null %}
		  {% include {{para.include}} %} 
                {% endif %}
		{% if para.image != null %}
		<div><img src="{{ para.image }}"></div>
                {% endif %}
                {% endfor %}
                </article>
            {% endfor %}
            </div>
            <div class="col-xs-12 col-sm-3 wow fadeInDown">
               {% include sponsors.md %}
            </div>
        </div>
    </div>
</section>
<!-- End Page -->
