 {% for track in site.data.tracks %}
 
 
<h4 style="font-weight:300">{{ track.title }}</h4>

	{% for sid in track.speakers %}
	  {% for speaker in site.data.speakers %}
	    {% if sid == speaker.id %}
	    	<div class="row schedule" style="margin-left:5px">
					<ul class="slot-speakers">
                              <li itemprop="performer"><div class="speaker-img flow-img img-circle" style="background-image: url({{ site.baseurl | append: speaker.image }})"></div>
                                 <a href="{{ speaker.link }}">
                                 <p class="speaker-name">{{ speaker.speaker }} - {{ speaker.ptitle }}
                                   <span class="speaker-position">{% if speaker.jobtitle %}{{speaker.jobtitle}}, {% endif %}{% if speaker.affiliation %}{{ speaker.affiliation }}{% endif %}</span>
                                 </p>
                                 </a>
                              </li>
                      </ul>
		   </div>
			

		{% endif %}
	  {% endfor %}
	{% endfor %}

{% endfor %} 

<!-- End Speakers Modals -->
