
   <div class="partner-container">
      <div class="partner-image">
         <a href="{{ element.www }}" target="_blank" title="{{ element.text }}">
           <img src="{{ element.image }}" alt="{{ element.text }}">
         </a>
      </div>
      <!--
      <div class="overlay">
           <div class="partner-image-inner">
              <p>{{ element.text }}</p>
              <a href="{{ element.www }}" target="_blank">
                <i class="fa fa-eye"></i> View</a>
              </a>
           </div>
      </div>
      -->
   </div>


