<!-- Begin Top Section --> 
<section id="top-section" class="top-section image-section {% if page.header_image %}enable-overlay{% endif %}" style="{% if page.header_image %}background-image: url('{{ site.baseurl }}/img/{{ page.header_image }}');{% elsif page.color %}background: {{ page.color }}{% endif %}">
        <div class="overlay gradient-overlay"></div>
        {% include navigation.html %}
        <div class="logo-header">
           <img id="mainLogo" src="/img/SCS_Logo.png" alt="Swiss Cyber Storm Logo">
        </div>
        <div class="content-wrapper">
            <div class="row">
                <div class="col-xs-5 col-sm-5 col-md-6 col-lg-7">
                    <div class="jumbotron text-left">
                        <div class="animated fadeInLeft" style="-vendor-animation-delay:500">
                            <h1>{{ page.title }}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-xs-7 col-sm-7 col-md-6 col-lg-5">
                    <div style="padding-top: 168px">
                    {% for button in page.buttons %}
                        <a href="{% if button.permalink != null %} {{ button.permalink | prepend: site.baseurl }} {% else %} {{ button.link }} {% endif %}" class="btn btn-primary pulseButton" {% if button.link != null %}target="_blank"{% endif %}>{{ button.text }}</a>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- End Top Section -->

