.site-footer {
  @extend %padding-regular;
  display: inline-block;
  text-align: center;
  width: 100%;
  color: lighten($text-color, 30%);
  font-size: 0.9em;
}
.site-footer img {
    vertical-align: middle;
    max-height: 5em;
    margin: 1em 1em;
}
.footer {
    border-top: 5px solid #4F100F;
    background-color: #383838;
    color: #fff;
    height: 84px;
    margin-top: 110px;
}

.footer > ul {
    list-style: outside none none;
    padding: 0px;
    margin: 0px;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #fff;;
  font-weight: 500;
}

.footer ul > li {
  display: inline-block;
  margin-left: 15px;
}

