.site-header {
  max-width: 1800px;
  background: $background-color;
  display: inline-block;
  width: 100%;
  a {
    color: $header-link-color;
  }
 
  .head-img {
    background: $background-color;
    background-size: 100% auto;
    height: 15em;
    text-align: center;
    img {
        height: 14em;
    }
    @media (max-width: 800px){
        height: 10em;
        img {
            height: 9em;
        }
    }
    @media (max-width: 400px){
        height: 5em;
        img {
            height: 4em;
        }
    }
  }

  .avatar {
    height: 2em;
    width: 2em;
    float: left;
    margin-top: -3px;
    border-radius: 0.2em;
    margin-right: 1em;
  }
  
  .site-title {
    float: left;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.5;
  }

  .site-nav {
    .slicknav_menu{
      display: none;
    }
    .nav_menu{
        display: inline-block;
    }
      background: $brand-color;
    ul {
      margin: 0.5em 0;
      padding: 0;
      list-style: none;
      line-height: 1.5;
      float: left;
      text-align: right;
    }
    li {
      display: inline;
      margin-left: 1em;
      margin-right: 1em;
    }
    @media (max-width: 800px) {
      .no-js & {  
        ul {
          display: block;
          margin: 0;
          width: 100%;
          text-align: center;
        }
        li {
          display: block;
          clear: left;
          margin-top: 0.5em;
          margin-bottom: 0.5em;
        }
      }
      .js & {
        .slicknav_menu{
          display: inline-block;
        }
        .nav_menu{
          display: none;
        }
        ul {
          display: none;
          margin: 0;
          width: 100%;
          text-align: center;
        } 
        li {
            display: block;
            clear: left;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }
      }
    }
  }
}

