article,
.comments {
  @extend %padding-regular;
  border-bottom: 1px solid $border-color;
  float: left;
  width: 100%;
}
article {
  header {
    margin-bottom: 6%;
    text-align: center;
  }
  a:hover {
    @extend %link-hover;
  }
  .footnotes {
    font-size: 0.9em;
  }
  .post-content {
    p {
      img {
        float: left;
        margin-right: 1em;
        margin-bottom: 0.5em;
      }
    }
    h1,
    h2,
    h3 {
        clear: both;
    }
    .scs-portrait {
        float: left;
        text-align: center;
        width: 300px;
        min-height: 350px;
        margin: 0.5em;
        padding: 0.3em;
        p {
            margin: 0;
        }
        img {
            width: 75%;
        }
        .scs-portrait-description {
            .scs-portrait-name {
                font-weight: bold;
            }
            .scs-portrait-role {
                font-weight: italic;
            }
            .scs-portrait-responsibility {
            }
            .scs-portrait-affiliation {
            }
        }
    }
    .sponsor-img {
        height: 8em;
        margin: 1em;
        filter: gray;
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
    }
    .sponsor-img:hover {
        filter: none;
        -webkit-filter: grayscale(0);
    }
  }
}
header {
  h1 {
    margin: 0;
  }
  .meta {
    color: rgba($text-color, .5);
    font-size: 0.9em;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
  }
}
.feature-image {
  padding: 0%;
  .post-link {
    color: $feature-image-text-color;
  }
  header {
    color: $feature-image-text-color;
    background-size: $feature-image-size;
    margin-bottom: 0;
    padding: $padding-large/2.5 $padding-large;
    .meta {
      color: rgba($feature-image-text-color, .7);
    }
  }
  .post-content {
    @extend %padding-regular;
    p {
      img {
        float: left;
      }
    }
  }
}
