.posts {
  .post-teaser {
//    @extend %padding-small;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    border-bottom: 1px solid $border-color;
    p a:hover {
      @extend %link-hover;
    }
  }
  .excerpt {
    margin-top: 1em;
    .img_excerpt { 
        float: left;
	max-width: 35%;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
        @media(max-width: 600px) {
            display: none;
        }
    }
    .txt_excerpt {
    }
    .more_excerpt {
        clear: left;
	padding: 1em 1em;
    }
    h1,
    h2,
    h3 {
        clear: both;
    }
    .scs-portrait {
        float: left;
        text-align: center;
        width: 300px;
        min-height: 350px;
        margin: 0.5em;
        padding: 0.3em;
        p {
            margin: 0;
        }
        img {
            width: 75%;
        }
        .scs-portrait-description {
            .scs-portrait-name {
                font-weight: bold;
            }
            .scs-portrait-role {
                font-weight: italic;
            }
            .scs-portrait-responsibility {
            }
            .scs-portrait-affiliation {
            }
        }
    }
    .sponsor-img {
        height: 8em;
        margin: 1em;
        filter: gray;
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
    }
    .sponsor-img:hover {
        filter: none;
        -webkit-filter: grayscale(0);
    }
  }
}
// pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: $padding-small $padding-small 0 $padding-small;
  text-align: center;
}

