.program {
  border-bottom: 1px solid $border-color;
}

.time-col {
  background: #FF0000 !important;
}

.track-1 {
  background: #0FF000;
}

.track-2 {
  background: #00FF00;
}

.break-col {
  background: #000FF0;
}

.talk-col-morning {
  background: #0000FF;
}

