.program {
 table {
    border-collapse: collapse;
 }

 table, td, th {
   border: 2px solid black;
 }
}

talktitle {
  font-weight: bold;
}
speaker {
  font-style: italic;
}

.time-col {
  color: #FFFFFF !important;
  background: #4F100F !important;
}

.track-1-1 {
  text-align: center;
  background: #F9F9F9;
}

.track-1-2 {
  text-align: center;
  background: #E1E1E1;
}

.track-2-1 {
  text-align: center;
  background: #F9F9F9;
}
.track-2-2 {
  text-align: center;
  background: #E1E1E1;
}

.break-col {
  text-align: center;
  color: #FFFFFF !important;
  background: #4F100F;
}

.talk-col-morning-1 {
  text-align: center;
  background: #F9F9F9;
}
.talk-col-morning-2 {
  text-align: center;
  background: #E1E1E1;
}

// Formating for agenda/program/timetable
  .table-striped>tbody>tr:nth-child(odd)>td, 
  .table-striped>tbody>tr:nth-child(odd)>th {
//     background-color: #F9F9F9;
   }
  .table-striped>tbody>tr:nth-child(even)>td, 
  .table-striped>tbody>tr:nth-child(even)>th {
//     background-color: #F9F9F9;
   }
   @media only screen and (max-width: 1024px) {
        /* Force table to not be like tables anymore */
        #no-more-tables table,
        #no-more-tables thead,
        #no-more-tables tbody,
        #no-more-tables th,
        #no-more-tables td,
        #no-more-tables tr {
        display: block;
        padding: 0px;
        }
         
        /* Hide table headers (but not display: none;, for accessibility) */
        #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
        }
         
        #no-more-tables tr { border: 1px solid #ccc; }
          
        #no-more-tables td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 15%;
        white-space: normal;
        text-align:left;
        }
         
        #no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 2px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
        font-size: small;
        }
         
        /*
        Label the data
        */
        #no-more-tables td:before { content: attr(data-title); }
        }


