* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}

body, html {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $regular;
    word-wrap: break-word;
    color: $text-color;
    width: 100%;
    height: 100%;
    background: $background-color;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    @media (max-width: 767) {
      font-size: $font-size - .25em;
    }
}

section {
    position: relative;
    overflow: hidden;
    min-height: $min-section-height;
    padding-top: $section-padding-top;
    padding-bottom: $section-padding-bottom;
    text-align: center;
    @media (max-width: 767px) {
        padding-top: $small-section-padding-top;
        padding-bottom: $small-section-padding-bottom;
        min-height: $min-section-height-small;
    }
    h3 {
        margin-bottom: 50px;
        @media (max-width: 767px) {
            padding-bottom: 30px;
        }
    }
}

// typography
::selection {
  background: $selection-color;
}
::-moz-selection {
  background: $selection-color;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
  margin: 0.5em 0;
  a {
    color: $text-color;
  }
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.15em;
}
blockquote {
    border-left: 2px solid;
    padding: 1em 1em;
}
blockquote p:last-child,
footer p:last-child {
  margin-bottom: 0;
}
table {
  width: 100%;
  border-collapse: collapse;
}
td,
th {
  padding: 0.5em 1em;
  border: 1px solid $border-color;
  text-align: left;
}
table,
dl,
blockquote,
code,
kbd,
pre,
samp {
  margin: 1em 0;
}
dt {
  font-weight: bold;
}
dd {
    margin-left: 2em;
}

p, ol, ul, dl {
  line-height: 1.5;
  margin-bottom: 1em;
}
ol, ul {
  list-style-position: inside;
}
hr {
  border: 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid #fff;
  margin: 1em 0;
}
a {
  color: $link-color;
  text-decoration: none;
}
// responsive media
iframe, img, embed, object, video {
  max-width: 100%;
}
img[align=left] {
  margin-right: 3%;
}
img[align=right] {
  margin-left: 3%;
}
figcaption {
  font-style: italic;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 420px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 420px;
  background-color: #777;
}
.carousel-inner > .item > img.fill {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 420px;
  max-width: none;
}

#myCarousel .active .animation.animated-item-1 {
  -webkit-animation: fadeInUp 300ms linear 300ms both;
  -moz-animation: fadeInUp 300ms linear 300ms both;
  -o-animation: fadeInUp 300ms linear 300ms both;
  -ms-animation: fadeInUp 300ms linear 300ms both;
  animation: fadeInUp 300ms linear 300ms both;
}

#myCarousel .active .animation.animated-item-2 {
  -webkit-animation: fadeInUp 300ms linear 600ms both;
  -moz-animation: fadeInUp 300ms linear 600ms both;
  -o-animation: fadeInUp 300ms linear 600ms both;
  -ms-animation: fadeInUp 300ms linear 600ms both;
  animation: fadeInUp 300ms linear 600ms both;
}

#myCarousel .active .animation.animated-item-3 {
  -webkit-animation: fadeInUp 300ms linear 900ms both;
  -moz-animation: fadeInUp 300ms linear 900ms both;
  -o-animation: fadeInUp 300ms linear 900ms both;
  -ms-animation: fadeInUp 300ms linear 900ms both;
  animation: fadeInUp 300ms linear 900ms both;
}

#myCarousel .active .animation.animated-item-4 {
  -webkit-animation: fadeInUp 300ms linear 1200ms both;
  -moz-animation: fadeInUp 300ms linear 1200ms both;
  -o-animation: fadeInUp 300ms linear 1200ms both;
  -ms-animation: fadeInUp 300ms linear 1200ms both;
  animation: fadeInUp 300ms linear 1200ms both;
}

.scs-content, .scs-container, .scs-pusher {
    height: 100%;
}
.scs-content, .scs-container, .scs-content-inner {
    position: relative;
}

.scs-pusher {
    position: relative;
    z-index: 99;
    left: 0;
    transition: $long-transition;
    &::after {
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        content: '';
        transition: opacity .5s, width .1s .5s, height .1s .5s;
        opacity: 0;
        background: rgba(0, 0, 0, .2);
    }
    .scs-menu-open &::after {
        z-index: 100;
        width: 100%;
        height: 100%;
        transition: opacity .5s;
        opacity: 1;
    }
}


.logo-header{
  display:block;
  z-index: 10;  
  position: absolute;
  right: 0;
  top: 50px;
  width: 170px;
  -webkit-animation: zoomIn 700ms ease-in 300ms both;
  -moz-animation: zoomIn 700ms ease-in 300ms both;
  -o-animation: zoomIn 700ms ease-in 300ms both;
  -ms-animation: zoomIn 700ms ease-in 300ms both;
  animation: zoomIn 700ms ease-in 300ms both;
  @media (max-width: 767px) {
        top: 50px;
        width: 100px;
        padding: 0;
  }
}

.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}


.overlay.solid-overlay {
	background: rgba(37, 32, 31, 0.8)
}

.overlay.white-solid {
	background: rgba(255, 255, 255, 0.9)
}

.overlay.gradient-overlay {
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.32) 0%,
		rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0.64) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.32) 0%,
		rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0.64) 100%)
}

.container .jumbotron, .container-fluid .jumbotron {
	border-radius: 6px
}

.jumbotron .container {
	max-width: 100%
}

.menu-trigger {
	float: right;
	-webkit-transform: translateY(20px);
	-ms-transform: translateY(20px);
	transform: translateY(20px);
	right: 45px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s
}

.top-section {
    position: relative;
    height: 220px;
    padding-top: 0;
    background: $background-color;
    @media (max-width: 767px) {
        height: 150px;
        padding: 0;
    }
    .gradient-overlay {
        opacity: 0;
    }
    &.enable-overlay .gradient-overlay {
        opacity: 1;
    }
}
.jumbotron {
    position: relative;
    left: 26px;
    margin: 150px 0 0 0;
    color: #fff;
    background: 0;
    -moz-osx-font-smoothing: grayscale !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    @media (max-width: 767px) {
        left: 13px;
        margin-top: 80px;
        padding-left: 0;
        padding-bottom: 5px;
    }
    @media screen and  (min-width: 768px) {
        padding-bottom: 0;
    }
    h1 {
	font-weight:100;
	font-size: 56px;
    }
}
.social-links {
    li {
        margin-right: 4px;
        display: inline-block;
    }
}

