// mix-ins
%padding-small {
  padding: $padding-x-small $padding-x-small * 2;
  @media (max-width: 1000px) { 
    padding: $padding-x-small $padding-x-small;
  }
}
%padding-head {
  padding: 0;
  @media (min-width: 1200px) {
    padding: 0 auto;
  }
}
%padding-regular {
  padding: $padding-small $padding-large;
  @media (max-width: 1000px) { 
    padding: $padding-small * 1.5 $padding-large / 1.6;
  }
}
%link-hover {
  text-decoration: underline;
  color: darken($link-color, 15%);
}

%button-base {
  @extend %padding-small;
  border-radius: 0.3em;
  border: 1px solid;
  display: inline-block;
  margin: 0;
}

// buttons
.button {
  @extend %button-base;
  background: $background-color;
  border: 1px solid $link-color;
  color: $link-color;
}

a.button:hover {
  background: $link-color;
  border: 1px solid $link-color;
  color: $background-color;
  text-decoration: none;
}

.button-inverted {
  @extend %button-base;
  background: $link-color;
  border: 1px solid $link-color;
  color: $background-color;
}
a.button-inverted:hover {
  background: $background-color;
  border: 1px solid $link-color;
  color: $link-color;
  text-decoration: none;
}


// call out feature
.call-out {
  padding-bottom: 1em;
  display: inline-block;
  width: 100%;
  background: none scroll 0% 0% $background-color;
  font-size: 1.5em;
}
.call-out p:last-child {
  margin-bottom: 0;
}

// states
.disabled {
  opacity: 0.7;
}

// IE doesn't get the scaling right (aspect ratio) if
// this is not set. Always fills the box fully in violation 
// of the aspect ratio. 
.svg {
  width: 100%;
}

.content {
  display: inline-block;
  width: 100%;
  max-width: 1800px;
}
