// mix-ins
%padding-small {
  padding: $padding-x-small $padding-x-small * 2;
  @media (max-width: 1000px) { 
    padding: $padding-x-small $padding-x-small;
  }
}
%padding-head {
  padding: 0;
  @media (min-width: 1200px) {
    padding: 0 auto;
  }
}
%padding-regular {
  padding: $padding-small $padding-large;
  @media (max-width: 1000px) { 
    padding: $padding-small * 1.5 $padding-large / 1.6;
  }
}
%link-hover {
  text-decoration: $link-hover-decoration;
  color: $link-hover-color;
}

%button-base {
  @extend %padding-small;
  border-radius: 0.3em;
  border: 1px solid;
  display: inline-block;
  margin: 0;
}

// buttons
.button {
  @extend %button-base;
  background: $background-color;
  border: 1px solid $link-color;
  color: $link-color;
}

a.button:hover {
  background: $link-color;
  border: 1px solid $link-color;
  color: $background-color;
  text-decoration: none;
}

.button-inverted {
  @extend %button-base;
  background: $link-color;
  border: 1px solid $link-color;
  color: $background-color;
}
a.button-inverted:hover {
  background: $background-color;
  border: 1px solid $link-color;
  color: $link-color;
  text-decoration: none;
}


// call out feature
.call-out {
  padding-bottom: 1em;
  display: inline-block;
  width: 100%;
  background: none scroll 0% 0% $background-color;
  font-size: 1.5em;
}
.call-out p:last-child {
  margin-bottom: 0;
}

// states
.disabled {
  opacity: 0.7;
}

// IE doesn't get the scaling right (aspect ratio) if
// this is not set. Always fills the box fully in violation 
// of the aspect ratio. 
.svg {
  width: 100%;
}

.content {
  display: inline-block;
  width: 100%;
  max-width: 1800px;
}

// popup timeline in challenges ...

#scs-tooltip {
 text-align:center;
  z-index: 1000;
  position: absolute;
  display: none;
}

#scs-tooltipContainer {
  position: absolute;
  bottom: 0;
  width: 230px;
  left: -125px;
  font-size: 12px;
  line-height: 16px;
  padding: 10px;
  border-radius: 3px;
  background: rgba(255,255,255,0.9);
  color: #000;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  border:1px solid rgba(200,200,200,0.85);
  text-align:center;
}

#scs-tooltip .scs-tail {
  position: absolute;
  bottom: -8px;
  left: 105px;
  width: 40px;
  height: 8px;
  background: url(/img/tail_white.png) 50% 0%;
}


#scs-tooltip .scs-category {
  text-transform: uppercase;
  text-align: left;
  font-size: 10px;
  margin-bottom: 2px;
  color:#666;
  text-align:center;
}

#scs-tooltip .scs-rule{
  height:1px;
  margin:1px auto 3px;
  background:#ddd;
  width:130px;
}

#scs-tooltip .scs-description{
  color:#666;
/*   text-transform:uppercase;*/
  font-size: 11px;
  text-align:center;
  font-style:italic;
}

#scs-tooltip .scs-name {
  font-size: 13px;
 text-align:center;
}

.axis path,
    .axis line {
      fill: none;
      stroke: black;
      shape-rendering: crispEdges;
    }

    .axis text {
      //font-family: sans-serif;
      font-size: 10px;
    }

    .timeline-label {
      //font-family: sans-serif;
      font-size: 12px;
    }


